*{
    margin:0px;
    padding: 0px;
}

.menu-container{
    background-color: rgb(103, 99, 99);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;

}
.blogs{
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
}
.blogs:hover{
    color: red;
}
.logo-photo{
    width: 120px;
}
.blog-png{
    width: 500px;
}
.blog-banner{
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    background-image: url("./download\ \(1\).jpg"), linear-gradient(45deg,#000,#3b3737);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.main-head{
    font-size: 55px;
    font-weight: bold;

}
.sub-head{
    font-size: 19px;
margin-top: 14px;
margin-bottom: 14px;
}
.button{
    /* margin-left: 15px; */
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}
.button:hover{
    color: rgb(236, 17, 50);
    background-color: rgb(23, 235, 76);
   
}
.about-blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.heading{
    color: coral;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.har{
    padding-top: 20px;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: #a17474;
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
}
.icon{
    width: 100px;
}
.btn{
    margin-top: 8px;
    background-color: rgb(176, 167, 115);
}
.btn:hover{
    color: yellow;
    background-color: red;
}
.box-h1{
    padding: 10px;
}
.boxh2{
    padding: 5px;
}
.blog-category{
    display: flex;
    justify-content: space-around;
    align-items: center;
  height: 400px;
  background-color: #534d4d;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    padding: 20px;
    color: white;
    background-color: #000000;
    list-style: none;
}
.about{
    padding-bottom: 10px;
}
.r2{
padding-bottom: 10px;
}
.login-h2{
   color: white;
    font-size: 55px;
    justify-content: space-around;
    text-align: center;
    padding-left: 50px;
}
.login-container{
    display: flex;
    justify-content: center;

}
.login-form{
    height: 230px;
   background-color: red;
}
.login{
    background-color: aliceblue;
    height: 100px;
    width: 230px;
    text-align: center;
    border: 10px red;
    padding: 20px;
    margin: 10px;
    box-shadow: 20px 15px 20px red;
    -moz-box-align: center;
}
.sub-btn{
    margin-top: 5px;
}
